<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="example.web.crawler" level="debug" additivity="false">
        <appender-ref ref="jsonConsoleAppender"/>
    </logger>

    <root level="error">
        <appender-ref ref="jsonConsoleAppender"/>
    </root>
</configuration>
